<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin_panel.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a href="/">HealthyHeroesHub</a>
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<div class="container">

    <div class="sidebar">
        <h3>Analytics</h3>
        <div class="box">
            <p>Users Data</p>
        </div>
        <div class="box">
            <p>Meals Data</p>
        </div>
        <div class="box">
            <p>Meal Catalogs Data</p>
        </div>
        <div class="box">
            <p>UpVotes Data</p>
        </div>
        <div class="box">
            <p>Comments Data</p>
        </div>
        <div class="box">
            <a href="/reports/create_new_report">
                <p>Reports Data</p>
            </a>
        </div>
    </div>

    <div class="main-content">
        <h2>Admin Dashboard</h2>

        <div class="box">
            <h3>User Management</h3>
            <p><a href="#">View All Users</a></p>
        </div>

        <div class="box">
            <h3>Meal Catalog Management</h3>
              <p><a href="#">Manage Meals</a></p>
        </div>

        <div class="box">
            <h3>Reports</h3>
            <p><a href="#">View Reports</a></p>
        </div>

    </div>
</div>

<footer>
    <p>&copy; 2025 HealthyHeroesHub | All Rights Reserved</p>
</footer>

</body>
</html>
