<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin_panel.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a th:href="@{/}">HealthyHeroesHub</a>
        </div>
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </nav>
</header>

<div class="container">

    <div class="sidebar">
        <h3>Analytics</h3>
        <div class="box" >
            <a th:href="@{/admin_panel/users_data}">
            <p>Users Data</p>
            </a>
        </div>
        <div class="box">
            <a th:href="@{/admin_panel/meals_data}">
            <p>Meal Catalogs and Meals Data</p>
            </a>
        </div>
        <div class="box">
            <p>Comments and UpVotes Data</p>
        </div>
        <div class="box">
            <p>Reports Data</p>
        </div>
    </div>

    <div class="main-content">
        <h2>Admin Dashboard</h2>

        <div class="box"><a th:href="@{/admin_panel/user_management}">
            <h3>User Management</h3>
            <p>View All Users</p>
        </a>
        </div>

        <div class="box"><a th:href="@{/admin_panel/meal_catalog_management}">
            <h3>Meal Catalog Management</h3>
            <p>View Meal Catalogs</p>
        </a>
        </div>
        <div class="box"><a th:href="@{/admin_panel/meal_management}">
            <h3>Meal Management</h3>
            <p><a href="#">Manage Meals</a></p>
        </a>
        </div>
        <div class="box"><a th:href="@{/admin_panel/comment_management}">
            <h3>Comment Management</h3>
            <p><a href="#">Manage Comments</a></p>
        </a>
        </div>
            <div class="box"><a th:href="@{/admin_panel/report_management}">
            <h3>Reports</h3>
            <p><a href="#">View Reports</a></p>
            </a>
        </div>

    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>
