<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a th:href="@{/}">HealthyHeroesHub</a>
        </div>
        <ul>
            <li th:unless="${isAuthenticated}"><a th:href="@{/login}">Login</a></li>
            <li  th:if="${isAuthenticated}"><a th:href="@{/logout}">Log Out</a></li>
            <li th:unless="${isAuthenticated}"><a th:href="@{/register}">Register</a></li>
            <li  th:if="${isAuthenticated}"><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Contact Us</h1>

    <div class="contact-card">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrmvSoqEMvs4E-TIgyfMdztZYEdKav-zok1A&s" alt="John Smith">
            <h2>John Smith</h2>
            <p class="email">Email: <a href="mailto:luckykaloyan@gmail.com">luckykaloyan@gmail.com</a></p>
            <p class="phone">Phone: +1 234 567 890</p>
        </div>

        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzPRQ6LprnPzvvP-_vVO_nhSokwda8CMsnwQ&s" alt="Jane Smith">
            <h2>Jane Smith</h2>
            <p class="email">Email: <a href="mailto:luckykaloyan@gmail.com">luckykaloyan@gmail.com</a></p>
            <p class="phone">Phone: +1 234 567 890</p>
        </div>

        <div class="card">
            <img src="https://scontent.fsof10-1.fna.fbcdn.net/v/t1.6435-1/107049930_2600763686804934_4629054620487481580_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=110&ccb=1-7&_nc_sid=e99d92&_nc_ohc=HsBCnyuDq5MQ7kNvgG8quCg&_nc_oc=AdgbqTX3RF1JSXnuPceDvxajXwi7kng-ui9vITL8DjQXkg7HCvA7xOx3a3TI2ogOogk&_nc_zt=24&_nc_ht=scontent.fsof10-1.fna&_nc_gid=Avi_gSIEf8K514Xi2x8k4zP&oh=00_AYC8co7aOBX0z180j50o_Fl2V654PBAnhfFTa_Bs29hLEQ&oe=67EEB91C" alt="Kaloyan Dimitrov">
            <h2>Kaloyan Dimitrov</h2>
            <p class="email">Email: <a href="mailto:mike.johnson@abv.bg">luckykaloyan@gmail.com</a></p>
            <p class="phone">Phone: +359 898 989 898</p>
        </div>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>
