<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Report</title>
  <link rel="stylesheet" href="/css/create_new_report.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>

<header>
  <nav>
    <div class="logo">
      <a th:href="@{/}">HealthyHeroesHub</a>
    </div>
    <ul>
      <li><a th:href="@{/home}">Home</a></li>
      <li><a th:href="@{/login}">Login</a></li>
      <li><a th:href="@{/register}">Register</a></li>
      <li><a th:href="@{/contact}">Contact</a></li>
    </ul>
  </nav>
</header>

<div class="report-container">
  <div class="report-box">
    <h2>Create New Report</h2>
      <form th:action="@{/reports/create_new_report}" th:method="POST" th:object="${reportRequest}">
      <div class="input-group">
        <label for="concernedUser">Concerned user:</label>
        <textarea id="concernedUser" name="concernedUser" required placeholder="Enter your name" th:field="*{concernedUser}"></textarea>
        <p class="text-warning" th:errors="*{concernedUser}"></p>


      </div>

      <div class="input-group">
        <label for="troublemaker">Troublemaker:</label>
        <textarea id="troublemaker" name="troublemaker" required placeholder="Enter troublemaker's name" th:field="*{troublemaker}"></textarea>
        <p class="text-warning" th:errors="*{troublemaker}"></p>
      </div>

      <div class="input-group">
        <label for="reportType">Report type:</label>
        <select id="reportType" name="reportType" required th:field="*{reportType}">
          <option  th:each="type : ${T(hhh.report.model.ReportType).values()}" th:text="${type}" th:value="${type}"></option>
          <p class="text-warning" th:errors="*{reportType}"></p>
        </select>
      </div>

      <div class="input-group">
        <label for="whereItHappened">Where it happened:</label>
        <select id="whereItHappened" name="whereItHappened" required>
          <option  th:each="location : ${T(hhh.report.model.ReportLocation).values()}" th:text="${location}" th:value="${location}"></option>
          <p class="text-warning" th:errors="*{whereItHappened}"></p>
        </select>
      </div>

      <div class="input-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" required placeholder="Enter description"></textarea>
      </div>

      <div class="input-group">
        <label for="createdOn">When it happened?</label>
        <input type="date" id="createdOn" name="dateOfIssue" required />
      </div>

      <button type="submit" class="submit-button">Submit Report</button>
    </form>
  </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>
