<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a th:href="@{/}">HealthyHeroesHub</a>
        </div>
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <div class="sidebar">
        <div class="box">
            <p>Meal of the Day!</p>
        </div>
        <div class="box">
            <p>CREATE A NEW CATALOG</p>
        </div>
        <div class="box">
            <a th:href="@{/reports/create_new_report}">
                <p>REPORT THE BAD GUYS</p>
            </a>
        </div>
    </div>

    <div class="main-content">
        <div class="box">
            <h3>My Catalogs</h3>
            <p>My Catalog 1 <a href="#">edit/delete</a></p>
            <p>My Catalog 2 <a href="#">edit/delete</a></p>
            <p>My Catalog 3 <a href="#">edit/delete</a></p>
        </div>
        <div class="box">
            <h3>Favourite Catalogs</h3>
            <p>Fav. Catalog 1 <a href="#">remove</a></p>
            <p>Fav. Catalog 2 <a href="#">remove</a></p>
            <p>Fav. Catalog 3 <a href="#">remove</a></p>
        </div>
        <div class="box">
            <h3>Public Catalogs</h3>
            <p>Public Catalog 1 <a href="#">fav/report</a></p>
            <p>Public Catalog 2 <a href="#">fav/report</a></p>
            <p>Public Catalog 3 <a href="#">fav/report</a></p>
            <p>Public Catalog 4 <a href="#">fav/report</a></p>
        </div>
    </div>
    <div class="profile-section">
        <div class="profile-picture"><img th:src="${user.profilePicture}" alt="Profile Picture"></div>
        <p><br th:text="'USERNAME '+${user.username}">
            <br th:text="'EMAIL '+${user.email}">
            <br th:if="${user.firstName!=null}" th:text="'FIRTNAME '+${user.firstName}">
            <br th:if="${user.lastName!=null}" th:text="'LASTNAME '+${user.lastName}">
            <br th:if="${user.phone!=null}" th:text="'PHONENUMBER '+${user.phone}">
            <br th:text="'REGISTERDATE '+${user.registrationDate}">
            <br th:text="'ROLE '+${user.role}">

        <form th:action="@{'/users/' + ${user.id} + '/profile'}" method="get">
            <button type="submit">Edit</button>
        </form>
        <a th:href="@{/logout}">LogOut</a>
        <form th:action="@{/admin_panel}" method="get">
            <button type="submit">ADMIN PANEL</button></form>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>
