<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a th:href="@{/}">HealthyHeroesHub</a>
        </div>
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <div class="sidebar">
        <div class="box">
            <p>Meal of the Day!</p>
        </div>
        <div class="box">
            <a th:href="@{/meal_catalogs/create_new_catalog}">
                <p>CREATE A NEW CATALOG</p>
            </a>
        </div>
        <div class="box">
            <a th:href="@{/reports/create_new_report}">
                <p>REPORT THE BAD GUYS</p>
            </a>
        </div>
    </div>

    <div class="main-content">
        <div class="box" th:if="${user.getMealCatalogs().size()>0}">
            <h3>My Catalogs</h3>
            <div th:each="catalog : ${user.getMealCatalogs()}" class="meal-item">
                <a th:text="${catalog.name}"
                   th:href="@{'/meal_catalogs/' + ${catalog.id}}">
                </a>
                <form th:action="@{'/meal_catalogs/delete/' + ${catalog.id}}" th:method="DELETE" class="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger">Remove</button>
                </form>
                <form th:action="@{'/meal_catalogs/' + ${catalog.id}+'/edit'}" th:method="GET" class="delete-form">
                    <button class="btn btn-danger">Edit</button>
                </form>
            </div>

        </div>
        <div class="box" th:if="${user.getFavouriteMeals().size() > 0}">
            <h3>Favourite Meals</h3>
            <div th:each="favouriteMeal : ${user.getFavouriteMeals()}" class="meal-item">
                <a th:text="${favouriteMeal.meal.name}"
                   th:href="@{'/meal_catalogs/meal/' + ${favouriteMeal.meal.id}}">
                </a>

                <form th:action="@{'/meal_catalogs/meals/remove_from_favourite/' + ${favouriteMeal.id}}" th:method="POST" class="delete-form"><input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger">Remove</button>
                </form>
            </div>

        </div>

        <div class="box" th:if="${allCatalogs.size() > 0}">
            <h3>Public Catalogs</h3>
            <p th:each="publicCatalog : ${allCatalogs}" th:if="${user.id}!=${publicCatalog.owner.id}">
                <a th:text="${publicCatalog.name}" th:href="@{'/meal_catalogs/' + ${publicCatalog.id}}"></a>
            </p>
        </div>


    </div>
    <div class="profile-section">
        <div class="profile-picture"><img th:src="${user.profilePicture}" alt="Profile Picture"></div>
        <p><br th:text="'USERNAME '+${user.username}">
            <br th:text="'EMAIL '+${user.email}">
            <br th:if="${user.firstName!=null}" th:text="'FIRTNAME '+${user.firstName}">
            <br th:if="${user.lastName!=null}" th:text="'LASTNAME '+${user.lastName}">
            <br th:if="${user.phone!=null}" th:text="'PHONENUMBER '+${user.phone}">
            <br th:text="'REGISTERDATE '+${user.registrationDate}">
            <br th:text="'ROLE '+${user.role}">

        <form th:action="@{'/users/' + ${user.id} + '/profile'}" method="get">
            <button type="submit">Edit</button>
        </form>
        <a th:href="@{/logout}">LogOut</a>
        <form th:action="@{/admin_panel}" method="get">
            <button type="submit">ADMIN PANEL</button></form>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>
