<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a th:href="@{/}">Healthy Heroes Hub</a>
        </div>
        <ul>
            <li><a th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
            <li><a th:href="@{/register}"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a></li>
            <li><a th:href="@{/info}"><i class="fas fa-info-circle"></i> Info</a></li>
        </ul>
    </nav>
</header>

<div class="login-container">
    <div class="login-box">
        <div class="login-header">
            <h2><i class="fas fa-user-circle"></i> Login</h2>
            <div class="underline"></div>
        </div>
        <div th:if="${param.error}" class="error-message">
            <p><i class="fas fa-exclamation-circle"></i> WRONG USERNAME OR PASSWORD</p>
        </div>

        <form th:action="@{/login}" method="POST" th:object="${loginRequest}">
            <div class="input-group">
                <label for="username"><i class="fas fa-user"></i> Username</label>
                <input type="text" placeholder="Enter your username" id="username" name="username" th:field="*{username}">
                <p class="text-warning" th:errors="*{username}"></p>
            </div>
            <div class="input-group">
                <label for="password"><i class="fas fa-lock"></i> Password</label>
                <input type="password" placeholder="Enter your password" id="password" name="password" th:field="*{password}">
                <p class="text-warning" th:errors="*{password}"></p>
            </div>
            <button type="submit" class="login-button">
                <span>Login</span>
                <i class="fas fa-arrow-right"></i>
            </button>
        </form>
        <div class="login-footer">
            <p>New here? <a th:href="@{/register}" class="register-link">Create an account</a></p>
        </div>
    </div>
</div>

<footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>