<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Catalog Management</title>
    <link rel="stylesheet" href="/css/admin_panel.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a th:href="@{/}">HealthyHeroesHub</a>
        </div>
        <ul>
            <li><a th:href="@{/logout}">Log Out</a></li>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </nav>
</header>

<div class="dashboard-container">
    <aside class="sidebar">
        <h3>Analytics</h3>
        <div class="menu-item"><a th:href="@{/admin_panel/users_data}">Users Data</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/meals_data}">Meal Catalogs and Meals Data</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/comments_and_up_votes_data}">Comments and UpVotes Data</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/reports_data}">Reports Data</a></div>
        <h3>Management</h3>
        <div class="menu-item"><a th:href="@{/admin_panel/user_management}">Users Management</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/meal_catalog_management}">Meal Catalogs Management</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/meal_management}">Meals Management</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/comment_management}">Comments Management</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/report_management}">Reports Management</a></div>
    </aside>

    <main class="content">
        <h2>Meal Catalog Management</h2>
        <table>
            <thead>
            <tr>
                <th>Owner</th>
                <th>Name</th>
                <th>Description</th>
                <th>Added On</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mealcatalog : ${mealCatalogs}">
                <td th:text="${mealcatalog.owner.username}"></td>
                <td th:text="${mealcatalog.name}"></td>
                <td th:text="${mealcatalog.description}"></td>
                <td th:text="${mealcatalog.addedOn}"></td>
                <td>
                    <form th:action="@{'/admin_panel/meal_catalog_management/delete/' + ${mealcatalog.id}}" th:method="DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>