<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Catalog</title>
    <link rel="stylesheet" href="/css/meal_catalog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a th:href="@{/}">HealthyHeroesHub</a>
        </div>
        <div class="logo">
            <a th:href="@{/leaderboard}">
                <i class="fas fa-trophy"></i> Leaderboard <i class="fas fa-trophy"></i>
            </a>
        </div>
        <ul>
            <li><a th:href="@{/logout}">Log Out</a></li>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/info}">Info</a></li>
        </ul>
    </nav>
</header>

<div class="catalog-container">
    <div class="catalog-box">
        <h2 th:text="${mealCatalog.name}"></h2>
        <p class="description" th:text="${mealCatalog.description}"></p>
        <p><strong>Added On:</strong> <span th:text="${mealCatalog.addedOn}"></span></p>
        <p><strong>Last Updated:</strong> <span th:text="${mealCatalog.lastUpdate}"></span></p>
        <p><strong>Owner:</strong> <span th:text="${mealCatalog.owner.username}"></span></p>
        <form  th:if="${mealCatalog.owner}==${user}" th:action="@{'/meal_catalogs/'+${mealCatalog.id}+'/add_meal'}" th:method="GET"> <button id="add_meal">Add Meal</button> </form>
        <form  th:if="${mealCatalog.owner}==${user}" th:action="@{'/meal_catalogs/delete/' + ${mealCatalog.id}}" th:method="DELETE" class="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger">DELETE CATALOG</button>
        </form>
    </div>

    <div class="meals-section">
        <h3>Meals</h3>
        <ul>
            <li th:each="meal : ${mealCatalog.meals}">
                <img th:src="@{${meal.picture}}" alt="Meal Image" class="meal-image" />
                <p th:text="${meal.name}"></p>
                <form th:action="@{'/meal_catalogs/meal/'+${meal.id}}" th:method="GET">
                    <button>Open</button>
                </form>

            </li>
        </ul>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>
