<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a th:if="${isAuthenticated}" th:href="@{/home}">HHH Home</a>
            <a th:if="${!isAuthenticated}" th:href="@{/}">Healthy Heroes Hub</a>
        </div>
        <ul>
            <li th:unless="${isAuthenticated}"><a th:href="@{/login}">Login</a></li>
            <li th:unless="${isAuthenticated}"><a th:href="@{/register}">Register</a></li>
            <li><a th:if="${isAuthenticated}" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
            <li><a th:href="@{/info}"><i class="fas fa-info-circle"></i> Info</a></li>
        </ul>
    </nav>
</header>

<div class="register-container">
    <div class="register-box">
        <h2>Register</h2>
        <form th:action="@{/register}" th:method="POST" th:object="${registerRequest}">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" placeholder="Username" id="username" name="username" value="" th:field="*{username}">
                <p class="text-warning" th:text="${messageUsernameAlreadyExist}"></p>
                <p class="text-warning" th:errors="*{username}"></p>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" placeholder="Email" id="email" name="email" value="" th:field="*{email}">
                <p class="text-warning" th:errors="*{email}"></p>
                <p class="text-warning" th:text="${messageEmailAlreadyInUse}"></p>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password" name="password" value="" th:field="*{password}">
                <p class="text-warning" th:errors="*{password}"></p>
                <p class="text-warning" th:text="${messagePasswordsDoNotMatch}"></p>
            </div>
            <div class="input-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" value="" th:field="*{confirmPassword}">
                <p class="text-warning" th:errors="*{confirmPassword}"></p>
                <p class="text-warning" th:text="${messagePasswordsDoNotMatch}"></p>
            </div>
            <button type="submit" class="register-button">Register</button>
        </form>
    </div>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>
