<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports Data</title>
    <link rel="stylesheet" href="/css/admin_panel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a th:href="@{/}">HealthyHeroesHub</a>
        </div>
        <div class="logo">
            <a th:href="@{/leaderboard}">
                <i class="fas fa-trophy"></i> Leaderboard <i class="fas fa-trophy"></i>
            </a>
        </div>
        <ul>
            <li><a th:href="@{/logout}">Log Out</a></li>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/info}">Info</a></li>
        </ul>
    </nav>
</header>

<div class="dashboard-container">
    <aside class="sidebar">
        <h3>Analytics</h3>
        <div class="menu-item"><a th:href="@{/admin_panel/users_data}">Users Data</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/meals_data}">Meal Catalogs and Meals Data</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/comments_and_up_votes_data}">Comments and UpVotes Data</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/reports_data}">Reports Data</a></div>
        <h3>Management</h3>
        <div class="menu-item"><a th:href="@{/admin_panel/user_management}">Users Management</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/meal_catalog_management}">Meal Catalogs Management</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/meal_management}">Meals Management</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/comment_management}">Comments Management</a></div>
        <div class="menu-item"><a th:href="@{/admin_panel/report_management}">Reports Management</a></div>
    </aside>

    <main class="content">
        <h2>Reports Data</h2>
        <div class="cards">
            <!-- Reports Section -->
            <div class="card">
                <h3>Total Reports</h3>
                <p id="reports-total" th:text="${reports.size()}"></p>
            </div>
            <div class="card">
                <h3>Reviewed Reports</h3>
                <p id="reviewed-total" th:text="${reportsReviewed.size()}"></p>
            </div>
            <div class="card">
                <h3>Not Reviewed Reports</h3>
                <p id="not-reviewed-total" th:text="${reportsNotReviewed.size()}"></p>
            </div>
            <div class="card">
                <h3>Reports in Last Day</h3>
                <p id="day-reports" th:text="${reportsLastDay.size()}"></p>
            </div>
            <div class="card">
                <h3>Reports in Last Week</h3>
                <p id="week-reports" th:text="${reportsLastWeek.size()}"></p>
            </div>
            <div class="card">
                <h3>Reports in Last Month</h3>
                <p id="month-reports" th:text="${reportsLastMonth.size()}"></p>
            </div>
            <div class="card">
                <h3>Reports in Last Year</h3>
                <p id="year-reports" th:text="${reportsLastYear.size()}"></p>
            </div>
        </div>
    </main>
</div>

<footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>