<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" href="/css/user_management.css">
</head>
<body>
<div class="container">
    <h2>User Management</h2>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Registration Date</th>
            <th>Role</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.registrationDate}"></td>
            <td><span th:text="${user.role}"></span>
                <form th:action="@{'/admin_panel/user_management/change_role/'+${user.id}}" th:method="PATCH">
                    <button type="submit" class="btn btn-danger">Change Role</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
