body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('https://www.naturemade.com/cdn/shop/articles/healthy-foods-to-eat.jpg?v=1611988563') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
}


header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    flex-grow: 1;
    text-decoration: none;
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo a:hover {
    color: #007BFF;
}
nav ul li a:hover {
    background-color: #ff5722;
    border-radius: 5px;
    transform: scale(1.05);
    padding: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007BFF;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

a:hover {
    color: #007BFF;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: white;
    text-align: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.btn {
    background-color: orange;
    padding: 20px 40px; /* Larger padding for a bigger button */
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 22px; /* Bigger text */
    font-weight: bold; /* Thicker text */
    display: inline-block; /* Makes sure padding is respected */
    margin-top: 20px; /* Adds space above the button */
}

.welcome {
    padding: 20px;
    text-align: center;
}
#welcome {
    color: orange;
    background-color: rgba(100, 100, 100, 0.5); /* Adjust RGB values for different shades of gray */
    padding: 20px; /* Just for spacing */
    border-radius: 10px; /* Optional: adds rounded corners */
}
