<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a New Catalog</title>
  <link rel="stylesheet" href="/css/create_new_catalog.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header>
  <nav>
    <div class="logo">
      <a th:href="@{/home}">MMM Home</a>
    </div>
    <div class="logo">
      <a th:href="@{/meal_catalogs/leaderboard}">
        <i class="fas fa-trophy"></i>LIVE Leaderboard <i class="fas fa-trophy"></i>
      </a>
    </div>
    <ul>
      <li><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
      <li><a th:href="@{/info}"><i class="fas fa-info-circle"></i> Info</a></li>
    </ul>
  </nav>
</header>

<div class="catalog-container">
  <div class="catalog-box">
    <h2>Create a new Meal Catalog</h2>
    <form th:action="@{/meal_catalogs/create_new_catalog}" method="POST" th:object="${mealCatalogRequest}">
      <div class="input-group">
        <label for="name"><i class="fas fa-book"></i> Catalog Name</label>
        <input type="text" id="name" name="name" placeholder="Enter catalog name" th:field="*{name}">
        <p class="text-warning" th:errors="*{name}"><i class="fas fa-exclamation-circle"></i> <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></p>
      </div>
      <div class="input-group">
        <label for="description"><i class="fas fa-align-left"></i> Description</label>
        <textarea id="description" name="description" placeholder="Enter catalog description" th:field="*{description}"></textarea>
        <p class="text-warning" th:errors="*{description}"><i class="fas fa-exclamation-circle"></i> <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span></p>
      </div>
      <div class="input-group">
        <label for="type"><i class="fas fa-map-marker-alt"></i> Meal Catalog type:</label>
        <select id="type" name="type" required th:field="*{type}">
          <option th:each="catalogType : ${T(hhh.mealcatalog.model.MealCatalogType).values()}" th:text="${#strings.capitalize(catalogType.toString().toLowerCase())}" th:value="${catalogType}"></option>
        </select>
        <p class="text-warning" th:errors="*{type}"><i class="fas fa-exclamation-circle"></i> <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span></p>
      </div>
      <button type="submit" class="submit-button"><i class="fas fa-plus-circle"></i> Create Catalog</button>
    </form>
  </div>
</div>

<footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>
