<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a th:href="@{/home}">HHH Home</a>
        </div>
        <div class="logo">
            <a th:href="@{/meal_catalogs/leaderboard}">
                <i class="fas fa-trophy"></i>LIVE Leaderboard <i class="fas fa-trophy"></i>
            </a>
        </div>
        <ul>
            <li><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
            <li><a th:href="@{/info}"><i class="fas fa-info-circle"></i> Info</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <div class="sidebar">
        <div class="box champion-box">
            <a th:href="@{/users/winner}">
                <i class="fas fa-crown"></i>
                <p>YESTERDAY'S CHAMPION</p>
                <i class="fas fa-crown"></i>
            </a>
        </div>
        <div class="box calculator-box">
            <a th:href="@{/calculator}">
                <i class="fas fa-calculator"></i>
                <p>CALCULATE YOUR DAILY CALORIES</p>
                <i class="fas fa-calculator"></i>
            </a>
        </div>
        <div class="box food-check-box">
            <a th:href="@{/calculator/did_you_eat_enough_today}">
                <i class="fas fa-utensils"></i>
                <p>DID YOU EAT ENOUGH TODAY ?</p>
                <i class="fas fa-utensils"></i>
            </a>
        </div>
        <div class="box favorite-box">
            <a th:href="@{/meal_catalogs/favourite_meals}">
                <i class="fas fa-heart"></i>
                <p>YOUR FAVOURITE MEALS</p>
                <i class="fas fa-heart"></i>
            </a>
        </div>
        <div class="box catalog-box">
            <a th:href="@{/meal_catalogs/create_new_catalog}">
                <i class="fas fa-folder-plus"></i>
                <p>CREATE A NEW CATALOG</p>
                <i class="fas fa-folder-plus"></i>
            </a>
        </div>
        <div class="box report-box">
            <a th:href="@{/reports/create_new_report}">
                <i class="fas fa-exclamation-triangle"></i>
                <p>CREATE A NEW REPORT</p>
                <i class="fas fa-exclamation-triangle"></i>
            </a>
        </div>
        <div class="box admin-box" th:if="${user.role == T(hhh.user.model.UserRole).ADMIN}">
            <a th:href="@{/admin_panel}">
                <i class="fas fa-user-shield"></i>
                <p>ADMIN PANEL</p>
                <i class="fas fa-user-shield"></i>
            </a>
        </div>
    </div>



    <div class="main-content">
        <div class="box my-catalogs-box" th:if="${user.getMealCatalogs().size()>0}">
            <div class="box-content">
                <h3><i class="fas fa-book-open"></i> My Catalogs</h3>


                <a th:each="catalog : ${user.getMealCatalogs()}"
                   th:href="@{'/meal_catalogs/' + ${catalog.id}}"
                   class="meal-item vegan"
                   th:if="${catalog.type?.name() == 'VEGAN'}">
                    <i class="fas fa-leaf vegan-icon"></i>
                    <span th:text="${catalog.name}"></span>
                    <div class="action-buttons">
                        <form th:action="@{'/meal_catalogs/' + ${catalog.id}+'/add_meal'}" th:method="GET">
                            <button class="btn btn-add"><i class="fas fa-plus-circle"></i> Add Meal</button>
                        </form>
                        <form th:action="@{'/meal_catalogs/' + ${catalog.id}+'/edit'}" th:method="GET">
                            <button class="btn btn-edit"><i class="fas fa-edit"></i> Edit</button>
                        </form>
                    </div>
                </a>


                <a th:each="catalog : ${user.getMealCatalogs()}"
                   th:href="@{'/meal_catalogs/' + ${catalog.id}}"
                   class="meal-item carnivore"
                   th:if="${catalog.type?.name() == 'CARNIVORE'}">
                    <i class="fas fa-drumstick-bite carnivore-icon"></i>
                    <span th:text="${catalog.name}"></span>
                    <div class="action-buttons">
                        <form th:action="@{'/meal_catalogs/' + ${catalog.id}+'/add_meal'}" th:method="GET">
                            <button class="btn btn-add"><i class="fas fa-plus-circle"></i> Add Meal</button>
                        </form>
                        <form th:action="@{'/meal_catalogs/' + ${catalog.id}+'/edit'}" th:method="GET">
                            <button class="btn btn-edit"><i class="fas fa-edit"></i> Edit</button>
                        </form>
                    </div>
                </a>


                <a th:each="catalog : ${user.getMealCatalogs()}"
                   th:href="@{'/meal_catalogs/' + ${catalog.id}}"
                   class="meal-item omnivore"
                   th:if="${catalog.type?.name() == 'OMNIVORE'}">
                    <i class="fas fa-blender-phone omnivore-icon"></i>
                    <span th:text="${catalog.name}"></span>
                    <div class="action-buttons">
                        <form th:action="@{'/meal_catalogs/' + ${catalog.id}+'/add_meal'}" th:method="GET">
                            <button class="btn btn-add"><i class="fas fa-plus-circle"></i> Add Meal</button>
                        </form>
                        <form th:action="@{'/meal_catalogs/' + ${catalog.id}+'/edit'}" th:method="GET">
                            <button class="btn btn-edit"><i class="fas fa-edit"></i> Edit</button>
                        </form>
                    </div>
                </a>
            </div>
        </div>


        <div class="box public-catalogs-box" th:if="${allCatalogs.size() > 0}">
            <div class="box-content">
                <h3><i class="fas fa-globe"></i> Public Catalogs</h3>


                <a th:each="publicCatalog : ${allCatalogs}"
                   th:href="@{'/meal_catalogs/' + ${publicCatalog.id}}"
                   class="meal-item vegan"
                   th:if="${publicCatalog != null and user.id != publicCatalog.owner.id and publicCatalog.type?.name() == 'VEGAN'}">
                    <i class="fas fa-leaf vegan-icon"></i>
                    <span th:text="${publicCatalog.name}"></span>
                </a>


                <a th:each="publicCatalog : ${allCatalogs}"
                   th:href="@{'/meal_catalogs/' + ${publicCatalog.id}}"
                   class="meal-item carnivore"
                   th:if="${publicCatalog != null and user.id != publicCatalog.owner.id and publicCatalog.type?.name() == 'CARNIVORE'}">
                    <i class="fas fa-drumstick-bite carnivore-icon"></i>
                    <span th:text="${publicCatalog.name}"></span>
                </a>

                <a th:each="publicCatalog : ${allCatalogs}"
                   th:href="@{'/meal_catalogs/' + ${publicCatalog.id}}"
                   class="meal-item omnivore"
                   th:if="${publicCatalog != null and user.id != publicCatalog.owner.id and publicCatalog.type?.name() == 'OMNIVORE'}">
                    <i class="fas fa-blender-phone omnivore-icon"></i>
                    <span th:text="${publicCatalog.name}"></span>
                </a>
            </div>
        </div>

    </div>

    <div class="profile-section">
        <div th:if="${user.profilePicture}==null" class="profile-picture"><img src='https://i.pinimg.com/736x/c0/74/9b/c0749b7cc401421662ae901ec8f9f660.jpg' alt="Profile Picture"></div>
        <div th:if="${user.profilePicture}!=null" class="profile-picture"><img th:src="${user.profilePicture}" alt="Profile Picture"></div>
        <p><span>USERNAME:</span> <span th:text="${user.username}"></span></p>
        <p><span>EMAIL:</span> <span th:text="${user.email}"></span></p>
        <p th:if="${user.firstName!=null}"><span>FIRSTNAME:</span> <span th:text="${user.firstName}"></span></p>
        <p th:if="${user.lastName!=null}"><span>LASTNAME:</span> <span th:text="${user.lastName}"></span></p>
        <p th:if="${user.phone!=null}"><span>PHONENUMBER:</span> <span th:text="${user.phone}"></span></p>
        <p><span>REGISTERDATE:</span> <span th:text="${user.registrationDate}"></span></p>
        <p><span>ROLE:</span> <span th:text="${user.role}"></span></p>
        <form th:action="@{'/users/' + ${user.id} + '/profile'}" method="get">
            <button type="submit" class="profile-edit-btn"><i class="fas fa-user-edit"></i> Edit Profile</button>
        </form>
    </div>
</div>

<footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>